#To be copied into .env and edited in your project, if you want to define you env in a file
#Environment variables will take precedence over the file
#The following variables are the only ones required to run the integrationTests locally
TEST_URL = http://localhost:8080
JAHIA_USERNAME = root
JAHIA_PASSWORD = root

#Run this cmd for executing tests locally
#TEST_URL=http://localhost:8080 JAHIA_USERNAME=root JAHIA_PASSWORD=root yarn tests:integration

#For additional variables check the README
